.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.logoBg{
  width: 100%;
  height: 100%;
}


.svgWave{
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 1;
  background-color:transparent;  
}
 
 
.svgWave .path-0{
  animation:pathAnim-0 4s;

  animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
  0%{
    d: path("M 0,400 L 0,150 C 101.28571428571428,173.67857142857144 202.57142857142856,197.35714285714286 324,184 C 445.42857142857144,170.64285714285714 587,120.25 711,119 C 835,117.75 941.4285714285716,165.64285714285714 1060,179 C 1178.5714285714284,192.35714285714286 1309.2857142857142,171.17857142857144 1440,150 L 1440,400 L 0,400 Z");
  }
  25%{
    d: path("M 0,400 L 0,150 C 131.14285714285717,117.64285714285714 262.28571428571433,85.28571428571429 394,95 C 525.7142857142857,104.71428571428571 657.9999999999999,156.49999999999997 762,170 C 866.0000000000001,183.50000000000003 941.7142857142858,158.71428571428572 1050,149 C 1158.2857142857142,139.28571428571428 1299.142857142857,144.64285714285714 1440,150 L 1440,400 L 0,400 Z");
  }
  50%{
    d: path("M 0,400 L 0,150 C 163.53571428571428,157.53571428571428 327.07142857142856,165.07142857142858 422,164 C 516.9285714285714,162.92857142857142 543.2499999999999,153.25 653,133 C 762.7500000000001,112.75000000000001 955.9285714285716,81.92857142857142 1101,83 C 1246.0714285714284,84.07142857142858 1343.0357142857142,117.03571428571429 1440,150 L 1440,400 L 0,400 Z");
  }
  75%{
    d: path("M 0,400 L 0,150 C 95.25,161.60714285714286 190.5,173.21428571428572 330,171 C 469.5,168.78571428571428 653.25,152.75 767,131 C 880.75,109.25 924.5,81.78571428571429 1025,84 C 1125.5,86.21428571428571 1282.75,118.10714285714286 1440,150 L 1440,400 L 0,400 Z");
  }
  100%{
    d: path("M 0,400 L 0,150 C 101.28571428571428,173.67857142857144 202.57142857142856,197.35714285714286 324,184 C 445.42857142857144,170.64285714285714 587,120.25 711,119 C 835,117.75 941.4285714285716,165.64285714285714 1060,179 C 1178.5714285714284,192.35714285714286 1309.2857142857142,171.17857142857144 1440,150 L 1440,400 L 0,400 Z");
  }
}